/* variables */
:root {
    --black: #171321;
    --white: #f7fafa;
    --font-size: 1.3rem;
    --gray: #556658;
    --lite-gray: #96B59D;
    --lite-green: #7CEA94;
    --dark-green: #1A662B;
    --seashell: #BEE6C7;
    --ubuntu: "Ubuntu Condensed", sans-serif;
    --teko: Teko, sans-serif;
    --suns-orange: #dd6c1c;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

#resume {
    padding: 2rem;
    margin: 0 auto;
    width: 75%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 25px;
    font-family: var(--ubuntu);
    background-color: var(--white);
    color: var(--black);
}
#resume .sections {
    display: flex;
    flex-flow: column wrap;
    row-gap: 2rem;
}
#exp-div {
    display: flex;
    flex-flow: column wrap;
    row-gap: 3rem;
}
#resume a {
    color: var(--black);
    text-decoration: none;
}
#resume a:hover {
    color: var(--suns-orange);
}
.dark-green {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dark-green button {
    background-color: var(--lite-green);
    font-size: 1rem;
    padding: 1rem;
    margin: 5px auto;
    border-radius: 15px;
}
.dark-green button:hover {
    background-color: var(--suns-orange);
    font-family: var(--ubuntu);
    font-size: 1.3rem;
    border-top: 2px solid var(--black);
    border-right: 1px solid var(--black);
}

@media (min-width: 500px) {
    .header, .skills, .projects, .education, .experience {
        text-align: center;
        margin: 0 auto;
        line-height: 1rem;
    }
    .header ul, .skills ul, #projects-list ul, #education-list ul, .experience-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
        font-family: var(--teko);
    }
    .divider {
        background-color: #dd6c1c;
        height: 1px;
    }
    #skills-list section, #projects-list section, #education-list section, .experience-list section {
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-radius: 25px;
        padding: 5px;
        width: 200px;
        margin: 0 auto;
    }
    .experience-list section {
        width: 450px;
    }
    #exp-div {
        display: flex;
        flex-flow: column wrap;
        row-gap: 3rem;
    }
}

@media (min-width: 1300px) {
    .divider {
        height: 0;
    }
    .header, .skills {
    text-align: center;
    margin: 0 auto;
    line-height: 1rem;
    }
    .header ul, .skills ul, #projects-list ul, #education-list ul, .experience-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
        font-family: var(--teko);
    }
    .skills, .projects, .education, .experience {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding-right: 10%;
    }

    .skills h4, .projects h4, .education h4, .experience h4{
        font-family: var(--teko);
        font-size: 2rem;
        transform: rotate(-30deg);
    }
    .summary {
        text-align: center;
    }
    .summary div {
        display: flex;
        justify-content: center;
    }
    .summary h4 {
        font-family: var(--teko);
        font-size: 2.3rem;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .summary p {
        text-align: left;
        width: 800px;
        line-height: 1.5rem;
    }
    #skills-list, #projects-list, #education-list, .experience-list{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        align-content: center;
        gap: 1.5rem;
    }
    
    #skills-list section, #projects-list section,  #education-list section, .experience-list section {
        border-bottom: 0.5px solid black;
        border-right: 0.5px solid black;
        border-radius: 25px;
        padding: 5px;
        width: 200px;
    }
    .experience-list section {
        width: 450px;
    }
    #skills-list section h5, #projects-list section h5, .experience-list section h5, #education-list section h5 {
        letter-spacing: 0.15rem;
    }

    #projects-list section, #education-list section, .experience-list section {
        text-align: center;
        line-height: 1rem;
    }
    #projects-list, #education-list, .experience-list {
        height: 200px;
        align-content: center;
    }
    #exp-div {
        display: flex;
        flex-flow: column;
        row-gap: 3rem;
    }

    .hidden {
        visibility: hidden;
    }
}
#exp-div {
    display: flex;
    flex-flow: column;
    row-gap: 3rem;
}
.experience-list {
    display: flex;
    flex-flow: row wrap;
}